<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/docs/">Home</a></li>
  <li class="breadcrumb-item">Components </li>
  <li class="breadcrumb-item active">Bootstrap Cards</li>
</ol>

<div class="card">
  <div class="card-header">Fichas</div>
  <div class="card-body">
    <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Data Nascimento</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Pedro</td>
            <td>27/05/2017</td>
          </tr>
          <tr>
            <td>Tiago</td>
            <td>27/05/2017</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>
</div>
