{{#o-panel title='Fichas'}}
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Data Nascimento</th>
          </tr>
        </thead>
        <tbody>
          {{#each model as |patient|}}
            <tr>
              <td>{{#link-to 'patient' patient}}{{patient.name}}{{/link-to}}</td>
              <td></td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
{{/o-panel}}
