<nav class="sidebar-nav">
  <ul class="nav">
    <li class="nav-item">
      {{#link-to 'patients' class='nav-link'}}{{fa-icon "user-circle"}} Fichas{{/link-to}}
    </li>

    <li class="nav-item nav-dropdown open">
      <a class="nav-link nav-dropdown-toggle" href="#">{{fa-icon "calendar"}} Marcações</a>
      <ul class="nav-dropdown-items">
        <li class="nav-item">
          <a class="nav-link" href="components/buttons.html">{{fa-icon "calendar"}} Hoje <span class="badge badge-primary">4</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="components/buttons.html">{{fa-icon "calendar"}} Agenda</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
<button class="sidebar-minimizer brand-minimizer" type="button"></button>
