{{#link-to 'patients'}} Voltar à Lista {{/link-to}}

{{#o-panel title=patient.name}}
    <div class="row">
      <div class="col-sm-6">
        {{o-text
            value=(readonly patient.name)
            onUpdateValue=(action (mut patient.name))
            label='Nome'
        }}
      </div>
      <div class="col-sm-6">
        {{#o-select
            options=countries
            value=(readonly location)
            onUpdateValue=(action (mut location))
            searchEnabled=false
            label='Location' as |option|
        }}
          {{option.name}}
        {{/o-select}}
      </div>
    </div>
{{/o-panel}}
